/* Box-sizing for consistency */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Quicksand', sans-serif;
    padding: 20px;
}

header {
    text-align: center;
    margin-bottom: 20px;
}

h1 {
    font-size: 200%;
    font-weight: 700; /* Titolo più evidente */
}

/* General section styling */
.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.box {
    position: relative;
    border: 1px solid black;
    padding: 20px;
    margin: 10px;
    background-color: #d3d3d3; /* Light grey background for the main boxes */
    flex: 1 1 30%; /* Assicura che i riquadri abbiano uguale larghezza */
    font-weight: 500;
}

/* Title region */
.section-title {
    position: absolute;
    top: 10px;
    right: 0;
    padding: 5px;
    border: 1px solid black;
    font-size: 125%;
    font-weight: 700; /* Titoli delle sezioni più evidenti */
    min-height: 40px; /* Altezza minima */
    width: 150px; /* Larghezza dei riquadri titoli allungata orizzontalmente */
    display: flex;
    align-items: center; /* Allinea verticalmente il testo */
    justify-content: center; /* Allinea orizzontalmente il testo */
}

/* Colors for each section */
.box:nth-child(1) .section-title {
    background-color: #dcb5b4; /* Antique pink for Chicken */
}

.box:nth-child(2) .section-title {
    background-color: #cc4444; /* Less intense red for Beef */
    color: #ffffff; /* White text for Beef */
}

.box:nth-child(3) .section-title {
    background-color: #d2a679; /* Ochre yellow for Sushi */
}

/* Responsive layout */
/* Desktop view (992px and above) */
@media (min-width: 992px) {
    .box {
        width: 30%; /* Assicura che i riquadri prendano uguale spazio */
    }
}

/* Tablet view (768px to 991px) */
@media (min-width: 768px) and (max-width: 991px) {
    .box {
        width: 48%;
    }

    .box:nth-child(3) {
        width: 100%;
    }
}

/* Mobile view (less than or equal to 767px) */
@media (max-width: 767px) {
    .box {
        width: 100%;
    }
}

/* Optional text and heading styling */
p {
    margin-top: 50px;
    font-size: 100%;
}

.section-title {
    font-size: 125%;
}

h1 {
    font-size: 175%;
}


